.container {
  display: flex;
  margin-top: 15px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.backButton {
  width: 100px;
  border: none;
  padding: 10px;
  background-color: rgb(108, 108, 108);
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
}
