.newUser {
  flex: 4;
}
.newUserForm {
  display: flex;
  flex-wrap: wrap;
}
.newUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}
.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(155, 154, 154);
}
.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.newUserGenderContainer {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.newUserGenderContainer > label {
  margin: 10px;
  color: #555;
}
.newUserGenderContainer > input {
  margin-right: 3px;
  cursor: pointer;
}
.newUserSelect {
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: #555;
  outline: none;
}
.newUserButton {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
